* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    position: relative;
    height: 100vh;
    padding: 37vh 0 0;
    width: 100%;
    text-align: center;
}

.card {
    text-align: left;
    position: relative;
    margin: 20px 25px;
    display: inline-block;
    color: #ffffff;
    border-radius: 5px;
    min-width: 350px;
    width: 350px;
    padding: 35px;
}

.card:nth-child(3n+1) {
    background: rgb(251,192,155);
    background: linear-gradient(90deg, rgba(251,192,155,1) 0%, rgba(247,143,172,1) 100%);
}

.card:nth-child(3n+2) {
    background: rgb(138,200,245);
    background: linear-gradient(90deg, rgba(138,200,245,1) 0%, rgba(42,138,213,1) 100%);
}

.card:nth-child(3n+3) {
    background: rgb(134,214,213);
    background: linear-gradient(90deg, rgba(134,214,213,1) 0%, rgba(5,213,181,1) 100%);
}

.card::after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: -50px;
    height: 170px;
    width: 170px;
    background-color: #ffffff;
    opacity: 25%;
    border-radius: 100%;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.card::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -100px;
    right: -20px;
    height: 190px;
    width: 190px;
    background-color: #ffffff;
    opacity: 25%;
    border-radius: 100%;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.card-title {
    font-size: 15px;
}

.card-icons {
    display: block;
    position: absolute;
    right: 30px;
    top: 35px;
    font-size: 20px;
}

.card-info {
    font-weight: 600;
    padding: 20px 0 50px;
    font-size: 30px;
}

.card:hover::after {
    top: 100px;
    right: -50px;
}
.card:hover::before {
    bottom: -10px;
    right: 180px;
}